@model BasisCRUD.Models.db.Book;
@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create a Book";
}

<h1>เพิ่มข้อมูลหนังสือ</h1>

<form asp-action="Create" asp-controller="Book" method="post">
    <div class="form-group">
        <label asp-for="BookName" class="control-label"></label>
        <input asp-for="BookName" class="form-control" />
        <span asp-validation-for="BookName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="CategoryId">Category</label>
        <select asp-for="CategoryId" class="form-control" id="CategoryId">
            <option value="">-- Select Category --</option>
            @foreach (var category in ViewBag.Categories)
            {
                <option value="@category.CategoryId">@category.CategoryName</option>
            }
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="PublishId">Publisher</label>
        <select asp-for="PublishId" class="form-control" id="PublishId">
            <option value="">-- Select Publisher --</option>
            @foreach (var publisher in ViewBag.Publishers)
            {
                <option value="@publisher.PublishId">@publisher.PublishName</option>
            }
        </select>
        <span asp-validation-for="PublishId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Isbn" class="control-label"></label>
        <input asp-for="Isbn" class="form-control" />
        <span asp-validation-for="Isbn" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BookCost" class="control-label"></label>
        <input asp-for="BookCost" class="form-control" />
        <span asp-validation-for="BookCost" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BookPrice" class="control-label"></label>
        <input asp-for="BookPrice" class="form-control" />
        <span asp-validation-for="BookPrice" class="text-danger"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Save</button>
</form>